$black-two: #111111;
$black-three:#222222;
$secondary-font:  'Noto Sans KR', sans-serif;
$primary-font : 'Montserrat', sans-serif;
$gray: #393e46;
$gray-light: #6a727f;
$dark-brown: #110e03;
$gray-darker: #222831;
$gray-darkest: #1e242e;
$gray-lighter: #f7f8f9;
$primary-color: #f56766;
$primary-color-sun-yellow: #fcd32a;
$primary-color-cerulean: #0565bb;
$secondary-color: #EA4913;
$secondary-color-bright-orange:#f96400;
